/HelloWorld/nbproject/private/
/HelloWorld/build/
/ImplicitTest/nbproject/private/
/ImplicitTest/build/
/Public_Ac_mod/nbproject/private/
/Public_Ac_mod/build/
/Private_Ac_Mod/nbproject/private/
/Private_Ac_Mod/build/
/Protected_Ac_Mod/nbproject/private/
/Protected_Ac_Mod/build/
/Package_Ac_Mod/nbproject/private/
/Package_Ac_Mod/build/
/tax/nbproject/private/
/tax/build/
/Student/nbproject/private/
/Chapter4/ShortRange/nbproject/private/
/Chapter4/ShortRange/build/
/Chapter4/Ascii_Test/nbproject/private/
/Chapter4/Ascii_Test/build/
/Chapter4/Boolean_Test/nbproject/private/
/Chapter4/Boolean_Test/build/