/HelloWorld/nbproject/private/
/HelloWorld/build/
/ImplicitTest/nbproject/private/
/ImplicitTest/build/
/Public_Ac_mod/nbproject/private/
/Public_Ac_mod/build/
/Private_Ac_Mod/nbproject/private/
/Private_Ac_Mod/build/
/Protected_Ac_Mod/nbproject/private/
/Protected_Ac_Mod/build/
/Package_Ac_Mod/nbproject/private/
/Package_Ac_Mod/build/
/tax/nbproject/private/
/tax/build/
/Student/nbproject/private/
/Chapter4/ShortRange/nbproject/private/
/Chapter4/ShortRange/build/
/Chapter4/Ascii_Test/nbproject/private/
/Chapter4/Ascii_Test/build/
/Chapter4/Boolean_Test/nbproject/private/
/Chapter4/Boolean_Test/build/
/Chapter3/ImplicitTest/build/
/Chapter4/ExplicitTest/nbproject/private/
/Chapter4/ExplicitTest/build/
/Chapter4/DivideOp/nbproject/private/
/Chapter4/DivideOp/build/
/Chapter4/parseTypeTest/nbproject/private/
/Chapter4/parseTypeTest/build/
/Chapter4/toStringTest/nbproject/private/
/Chapter4/toStringTest/build/
/Chapter5/Print_Test/nbproject/private/
/Chapter5/Print_Test/build/
/Chapter5/Printf_Test/nbproject/private/
/Chapter5/Printf_Test/build/
/Chapter5/JOptionPane_Display_Test/nbproject/private/
/Chapter5/JOptionPane_Display_Test/build/
/Chapter5/DecimalFormat_Test/nbproject/private/
/Chapter5/DecimalFormat_Test/build/
/Chapter5/InputStream_Test_1/nbproject/private/
/Chapter5/InputStream_Test_1/build/
/Chapter5/InputStream_Test_2/nbproject/private/
/Chapter5/InputStream_Test_2/build/
/Chapter5/InputStream_Test_3/nbproject/private/
/Chapter5/InputStream_Test_3/build/
/Chapter5/Scanner_Test/nbproject/private/
/Chapter5/Scanner_Test/build/
/Chapter5/JOptionPane_Input_Test/nbproject/private/
/Chapter5/JOptionPane_Input_Test/build/
/Chapter6/Bonus/nbproject/private/
/Chapter6/Bonus/build/
/Chapter6/Bonus1/nbproject/private/
/Chapter6/Bonus1/build/
/Chapter6/AvgScore/nbproject/private/
/Chapter6/AvgScore/build/
/Chapter6/AvgScore1/nbproject/private/
/Chapter6/AvgScore1/build/
/Chapter6/If_Test/nbproject/private/
/Chapter6/If_Test/build/
/Chapter6/If_Test1/nbproject/private/
/Chapter6/If_Test1/build/
/Chapter6/If_else_Test/nbproject/private/
/Chapter6/If_else_Test/build/
/Chapter6/If_else_Test1/nbproject/private/
/Chapter6/If_else_Test1/build/
/Chapter6/Nested_IF_Test/nbproject/private/
/Chapter6/Nested_IF_Test/build/
/Chapter6/Nested_If_Test1/nbproject/private/
/Chapter6/Nested_If_Test1/build/
/Chapter6/Switch_Test/nbproject/private/
/Chapter6/Switch_Test/build/
/Chapter6/While_Test/nbproject/private/
/Chapter6/While_Test/build/
/Chapter6/Do_While_Test/nbproject/private/
/Chapter6/Do_While_Test/build/
/Chapter6/For_Test_1/nbproject/private/
/Chapter6/For_Test_1/build/
/Chapter6/Break_Test/nbproject/private/
/Chapter6/Break_Test/build/
/Chapter6/Continue_Test/nbproject/private/
/Chapter6/Continue_Test/build/
/Chapter6/Chapter6_exercises/Money_Exchange/nbproject/private/
/Chapter6/Chapter6_exercises/Money_Exchange/build/
/Chapter6/Chapter6_exercises/Travel_Budget/nbproject/private/
/Chapter6/Chapter6_exercises/Travel_Budget/build/
/Chapter6/Chapter6_exercises/Bonus_Output/nbproject/private/
/Chapter6/Chapter6_exercises/Bonus_Output/build/
/Chapter6/Chapter6_exercises/Bus_Fare/nbproject/private/
/Chapter6/Chapter6_exercises/Bus_Fare/build/
/Chapter6/Chapter6_exercises/Student_Grade/nbproject/private/
/Chapter6/Chapter6_exercises/Student_Grade/build/
/Chapter7/ArrayId/nbproject/private/
/Chapter7/ArrayId/build/
/Chapter7/AvgTemp/nbproject/private/
/Chapter7/AvgTemp/build/
/Chapter7/ArrayProject/nbproject/private/
/Chapter7/ArrayProject/build/
/Chapter7/Array2D/nbproject/private/
/Chapter7/Array2D/build/
/Chapter7/Metrix/nbproject/private/
/Chapter7/Metrix/build/
/Chapter7/Room_info/nbproject/private/
/Chapter7/Array3D/nbproject/private/
/Chapter7/Array3D/build/
/Chapter7/Score_By_Array/nbproject/private/
/Chapter7/Score_By_Array/build/
/Chapter7/Score_By_Array_List/nbproject/private/
/Chapter7/Score_By_Array_List/build/
/Chapter7/ForEachArray/nbproject/private/
/Chapter7/ForEachArray/build/
/Chapter7/EnumTest/nbproject/private/